@font-face {
    font-family: lato;
    src: url('../../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: assistant;
    src: url('../../fonts/assistant/Assistant-Medium.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('../../fonts/awesome/fa-brands-400.ttf');
}

@font-face {
    font-family: fa-solid;
    src: url('../../fonts/awesome/fa-solid-900.ttf');
}



