  $secondary-clr-500: #A5C593;

  $header: #07689F;

  $accent1: #79F2D0;
  $accent2: #0D0D0F;
  $accent3: #E2B250;
  $accent4: #F2F2F2;
  $accent5: #AFB0B2;
  $white: #ffffff;
  $black: #000000;

  $header: #1d1d1d;
  $header1: #07689F;
  $header2: #090D10;
  $header3: #153259;
  $footer: #51565A;
  $footer2: #D0EBF4;
  $accent6: #50D4F2;
  $accent7: #52C5F2;
  $accent8: #343434;
  $font: #F2F6F7;
  $lt-grey: #f0f0f0;
  $background: rgb(253, 253, 253);

  $brand: #C9DB39;
  $error: #dc0000;