.profile-menu-wrapper {
    position: absolute;
    left: -150%;

    .profile-menu {
        z-index: 9999;
        background-color: $header;
        color: $accent2;
        border: none;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.85);
        border-radius: 3px;
        font-weight: 400;
        margin-top: 12px;
        min-width: 180px;
        padding: rem(10px);

        ul {
            gap: rem(8px);
            align-items: flex-start;
            min-width: 100%;

            li {
                // padding: 5px 0;
                width: 100%;
                font-size: calc(0.8vw + 0.8vh + 0.8vmin);
                cursor: pointer;

                &:hover {
                    background-color: $brand;
                    cursor: pointer;
                }

                a {
                    padding: 5px 15px;
                    color: $accent4;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        color: $accent2;
                    }

                    & :active {
                        color: $brand;
                    }

                    & :visited {
                        color: $accent5;
                    }

                    &:nth-of-type(4) {
                        padding-bottom: rem(15px);

                        &:hover {
                            color: $header;
                        }
                    }
                }

                &.signout {
                    width: 100%;
                    border-top: 1px solid $accent5;
                    cursor: pointer;
                    padding: 10px 0;

                    &:hover {
                        color: $header !important;
                    }
                }
            }
        }
    }
}

.profile-container {
    position: relative;
    z-index: 9999;
}