.schedule-container {
    padding-block: 5vh;
    min-width: 100%;

    .schedule-header {
        min-width: 100%;
    }
    img.app-logo {
        height: 50px;
        width: 50px;
    }

}

.dashboard-container {
    gap: 3%;

    .dashboard {
        margin-top: 4%;
    }
}
