
.card-type-btn {
    outline: none;
    cursor: pointer;
    padding: rem(8px) rem(16px);
    border-radius: 4px;
    border: 0.1px solid $accent5;
    transition: all 0.2s ease;
    font-size: calc(0.6vw + 0.4vh + 0.6vmax);
    font-weight: 400;
    color: $accent2;
    text-shadow: 0 1px $font;
    background-color: transparent;

    &:hover {
        background-color: $brand;
        color: $header;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
    }

    &:active {
        background-color: $accent8;
        color: $brand;
        border: 1px solid $brand;
        cursor: pointer;
    }

    &:focus {
        background-color: $accent8;
        color: $brand;
        border: 1px solid $brand;
        cursor: pointer;
    }
}