.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.routes-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100vw;
    flex: 1;
    position: relative;
}

.swal2-container {
    overflow: hidden;
}

.swal2-container.swal2-center>.swal2-popup {
    align-self: unset;
}
.swal2-popup {
    max-height: 90vh;
    min-height: 85vh;
}

.swal2-container.swal2-top {
    display: unset;
}