.home {
    min-width: 100%;

    .home-hero {
        min-width: 100%;
        height: 70vh;

        @media (max-width: 450px) {
            max-height: 50vh;
            background-color: $brand;
        }
    }

    .hero-text {
        margin-top: 15px;
    }
}
